* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.results-container {
    margin-top: 200px;
}

.pagination-container {
    margin-top: 200px;
}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -20px;
}

.logo {
    max-width: 150px; 
    height: auto;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.menu-container {
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    width: 850px;
    text-align: center;
    max-height: 80vh;
    overflow-y: auto; 
}


.menu-container h2 {
    margin-bottom: 20px;
    color: #000000; 
}

.input-container {
    margin-bottom: 20px;
    position: relative;
}

.input-container label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

.menu-button {
    width: 100%;
    padding: 10px;
    background-color: #8ed1fc; 
    color: #000000;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: #8ed1fc; 
}


.no-results {
    color: #e57373;
}

.pagination-container {
    margin-top: 20px;
    text-align: center;
}

.page-button {
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #0288d1;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.page-button:hover {
    background-color: #0277bd;
}

.results-container {
    margin-top: 10px;
    text-align: left;
    max-height: 400px; 
    overflow-y: auto; 
    width: 100%; 
    max-width: 1400px; 
    box-sizing: border-box; 
}

.order-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #d0e5f3; 
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.order-item div {
    margin-right: 20px;
}

.order-item input, .order-item select {
    margin-right: 72px;
    padding: 5px;
}

.order-item .save-button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.order-item input[readonly] {
    background-color: #d0d0d0; 
    color: #333;
}

.order-item .save-button:hover {
    background-color: #388e3c;
}
